@import url('https://fonts.googleapis.com/css?family=Lato');

html//Code Hues
$hue-1: #b3ccff;
$hue-1-2: #cc7bc2;

$hue-2: #85fff5;
$hue-2-2: #32b3a0;

$hue-3: #ff8a75; // number, class

$hue-4: #ffe085;
$hue-4-2: #fbb23c;

$hue-5: #e85e81;
$hue-5-2: #f65a5a;

$hue-6: #b3d255;

// Blues
$blue-1: #51b2db;

$blue-2: #203f55;
$blue-2-2: #152a38;

$blue-3: #344450;
$blue-3-2: #253946;

// Greys
$grey1: #e9ebeb;
$grey2: #d5d6d7;
$grey3: #bebfc1;
$grey4: #949699;
$grey5: #3e3e41;
$grey6: #2d2d2f;

html,
body {
  margin: 0;
}

.outer__container {
  display: flex;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  color: #263238;
  background-color: #e3f2fd;
  // background-color: #ecf0f1;
}

li {
  list-style: none;
}
.inner__container {
  background: rgba(#fff, 0.8);
  padding: 5%;
  width: 60%;
  h4 {
    text-indent: 2em;
  }

  p {
    padding-left: 4em;
    line-height: 1.5rem;
    word-spacing: 0.1rem;
  }

  .bold {
    font-weight: bold;
  }

  code {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1px 5px;
    border-radius: 1px;
  }
  img {
    display: block;
  }
  img,
  pre,
  .quote {
    margin: auto;
  }
  pre {
    width: 60%;
    padding-left: 1em;
  }

  .quote {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.8);
    background: rgba(#fffde7, 0.8);
    p {
      padding-left: 2rem;
    }
  }
  .bold {
    text-emphasis: bold;
  }
}
